<div id="page-wrapper">
<div class="row">
    <div class="col-lg-12">
        <h1>中奖信息
            <small>Award</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading"><%= mobile%></p>

                        <p class="announcement-text">手机</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-check fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading"><%= card%></p>

                        <p class="announcement-text">会员卡</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading"><%= uv%></p>

                        <p class="announcement-text">抽奖人数</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading"><%= pv%></p>

                        <p class="announcement-text">抽奖人次</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> 明细</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-hover table-striped tablesorter">
                    <thead>
                    <tr>
                        <th>昵称</th>
                        <th>openid</th>
                        <th>手机号</th>
                        <th>来源</th>
                        <th>奖品</th>
                        <th>时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% list.forEach(function(item){%>
                    <tr>
                        <td><%= item.userinfo && item.userinfo.userName || ''%></td>
                        <td><%= item.userid %></td>
                        <td><%= item.userinfo && item.userinfo.tel || ''%></td>
                        <td><%= item.userinfo && item.userinfo.userType || ''%></td>
                        <td><%= item.type%></td>
                        <td><%= new Date(item.createTime + 3600000*8).toISOString().substr(0,10)%></td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
                <div>
                    <ul class="pagination pagination-sm">
                        <% for(var i=1; i<=pages; i++) {%>
                        <% if(page == i){%>
                        <li class="active"><a href="/admincp/award?page=<%= i %>"><%= i %></a></li>
                        <% }else{%>
                        <li><a href="/admincp/award?page=<%= i %>"><%= i %></a></li>
                        <% }%>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
