<%
infoData.forEach(function(info,index){
%>
<tr>
    <td><%= info._id %></td>
    <% if(info.A){%>
    <td><%= info.A.userName %></td>
    <td><%= info.A.camWhen %></td>
    <td><%= info.A.camWhere %></td>
    <td><%= info.A.camWord %></td>
    <td><img src="<%= info.A.camImgUrlBig %>" width="100" height="100" /></td>
    <%
    }
    %>
    <% if(info.B){%>
    <td><%= info.B.userName %></td>
    <td><%= info.B.camWhen %></td>
    <td><%= info.B.camWhere %></td>
    <td><%= info.B.camWord %></td>
    <td><img src="<%= info.B.camImgUrlBig %>" width="100" height="100" /></td>
    <% }else{%>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <% }%>
    <td><%= info.like %></td>
    <td><%= info.createTime %></td>
    <% if (info.markTime == 0) { %>
    <td>未配对</td>
    <% }else {
    %>
    <td><%= info.markTime %></td>
    <%
    }
    %>
    <% if (info.status == 0) { %>
    <td>不显示</td>
    <% }else {
    %>
    <td>显示</td>
    <%
    }
    %>
    <% if (info.status == 0) { %>
    <td><input type="button" onclick="updateStatus('<%= info.status %>','<%= info._id %>');" value="改成前端显示"><br />
        <input type="text"  value="<%= info.like %>" id="<%= info._id %>_setLike" style="width:40px;" /><input type="button" onclick="updateLike('<%= info._id %>');" value="保存赞">
    </td>
    <% }else {
    %>
    <td>
        <input type="button" onclick="updateStatus('<%= info.status %>','<%= info._id %>');" value="修改成前端不显示"><br />
        <input type="text"  value="<%= info.like %>" id="<%= info._id %>_setLike" style="width:40px;" /><input type="button" onclick="updateLike('<%= info._id %>');" value="保存赞">

    </td>
    <%
    }
    %>
</tr>
<%
});
%>