<style>
    .on {
        font-weight: bold;
        text-decoration:underline ;
    }
</style>
<div id="page-wrapper">
    <input type="search" value="输入作品ID对TA说的话" id="search_content" style="width:200px;" onFocus="if(this.value=='输入作品ID对TA说的话')this.value='';" onBlur="if(this.value=='')this.value='输入作品ID对TA说的话'"/><input type="button" value="搜索" onclick="search();" /><input type="button" value="取消" onclick="search_reset();"/>
    <br />
<!-- page -->
<% if(pageNum!=1){%>
<a href="/admincp/check?pageNum=1">第一页</a>
<% } %>
<% for(var i=0;i< maxPage ;i++){
var str="";
if(pageNum==i+1) {var str="on";}
%>
<a href="/admincp/check?pageNum=<%= i+1 %>" class="<%= str %>"><%= i+1 %></a>
<% } %>
<% if(pageNum != maxPage) {%>
<a href="/admincp/check?pageNum=<%= maxPage %>">最后一页</a>
<% } %>
<input type="hidden" value="<%= pageNum %>" id="pageNum" />
<!-- data show-->
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>作品ID</th>
        <th colspan="5">发起人信息</th>
        <th colspan="5">配对人信息</th>
        <th colspan="4">活动信息</th>
        <th rowspan="2">操作</th>
    </tr>

    <tr>
        <th>作品ID</th>
        <th>发起人姓名</th>
        <th>发起人时间</th>
        <th>发起人地点</th>
        <th>发起人说的话</th>
        <th>发起人图片</th>
        <th>参与人姓名</th>
        <th>参与人时间</th>
        <th>参与人地点</th>
        <th>参与人说的话</th>
        <th>参与人图片</th>
        <th>赞多少次</th>
        <th>发布活动时间</th>
        <th>是否配对</th>
        <th>前端是否显示</th>

    </tr>
    </thead>
    <tbody id="contentBody">
    <%
    infoData.forEach(function(info,index){
    %>
    <tr>
        <td><%= info._id %></td>
        <% if(info.A){%>
        <td><%= info.A.userName %></td>
        <td><%= info.A.camWhen %></td>
        <td><%= info.A.camWhere %></td>
        <td><%= info.A.camWord %></td>
        <td><img src="<%= info.A.camImgUrlBig %>" width="100" height="100" /></td>
        <%
        }
        %>
        <% if(info.B){%>
        <td><%= info.B.userName %></td>
        <td><%= info.B.camWhen %></td>
        <td><%= info.B.camWhere %></td>
        <td><%= info.B.camWord %></td>
        <td><img src="<%= info.B.camImgUrlBig %>" width="100" height="100" /></td>
        <% }else{%>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <% }%>
        <td><%= info.like %></td>
        <td><%= info.createTime %></td>
        <% if (info.markTime == 0) { %>
        <td>未配对</td>
        <% }else {
        %>
        <td><%= info.markTime %></td>
        <%
        }
        %>
        <% if (info.status == 0) { %>
        <td>不显示</td>
        <% }else {
        %>
        <td>显示</td>
        <%
        }
        %>
        <% if (info.status == 0) { %>
        <td><input type="button" onclick="updateStatus('<%= info.status %>','<%= info._id %>');" value="改成前端显示"><br />
            <input type="text"  value="<%= info.like %>" id="<%= info._id %>_setLike" style="width:40px;" /><input type="button" onclick="updateLike('<%= info._id %>');" value="保存赞">
        </td>
        <% }else {
        %>
        <td>
            <input type="button" onclick="updateStatus('<%= info.status %>','<%= info._id %>');" value="修改成前端不显示"><br />
            <input type="text"  value="<%= info.like %>" id="<%= info._id %>_setLike" style="width:40px;" /><input type="button" onclick="updateLike('<%= info._id %>');" value="保存赞">

        </td>
        <%
        }
        %>
    </tr>
    <%
    });
    %>
    </tbody>
</table>
<script>
    function updateStatus(status,camId){
        var status=parseInt(status);
        var pageNum=$("#pageNum").val();
        $.ajax({
            type: "GET",
            url: "/admincp/check:update",
            data:{
                "status":status,
                "camId":camId
            },
            success: function (data) {
                var data=JSON.parse(data);
                if(data.msg==1){
                    alert("修改成功");
                    location.href="/admincp/check?pageNum="+pageNum;
                }
            }
        });
    }


    function updateLike(camId){
        var pageNum=$("#pageNum").val();
        var setLike=parseInt($("#"+camId+"_setLike").val());

        $.ajax({
            type: "GET",
            url: "/admincp/check:updateLike",
            data:{
                "camId":camId,
                "like":setLike
            },
            success: function (data) {
                var data=JSON.parse(data);
                if(data.likeMsg==1){
                    alert("保存赞成功");
                    var content=$("#search_content").val();
                    if(content=="输入作品ID对TA说的话"){
                        location.href="/admincp/check?pageNum="+pageNum;
                    }else{
                        $.ajax({
                            type: "GET",
                            url: "/admincp/check:search",
                            data:{
                                "content":content
                            },
                            success: function (data) {
                                $("#contentBody").empty();
                                $("#contentBody").append(data);
                            }
                        });
                    }

                }
            }
        });
    }

    function search(){
       var content=$("#search_content").val();
       $.ajax({
            type: "GET",
            url: "/admincp/check:search",
            data:{
                "content":content
            },
            success: function (data) {
                $("#contentBody").empty();
                $("#contentBody").append(data);
            }
        });
    }


    function search_reset(){
        var pageNum=$("#pageNum").val();
        $("#search_content").val("输入对TA说的话");
        location.href="/admincp/check?pageNum="+pageNum;
    }
</script>
</div><!-- /#page-wrapper -->
