<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>
    <script src="/admincp/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <link rel='stylesheet' href='/admincp/bootstrap/dist/css/bootstrap.css'/>
    <link href="css/sb-admin.css" rel="stylesheet">
    <link rel='stylesheet' href='/admincp/font-awesome/css/font-awesome.min.css'/>

</head>
<body>

<div id="wrapper">

     <!--Sidebar-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         <!--Brand and toggle get grouped for better mobile display-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=".">Admin</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling-->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav" style="height: 1500px;">
                <li><a href="/admincp"><i class="fa fa-bar-chart-o"></i> 总览</a></li>
                <li><a href="/admincp/check"><i class="fa fa-dashboard"></i> 审核</a></li>
                <li><a href="/admincp/singleproduct"><i class="fa fa-table"></i> 单个作品的统计</a></li>
                <li><a href="/admincp/singlepic"><i class="fa fa-edit"></i> 单个图片的统计</a></li>
                <li><a href="/admincp/singleuser"><i class="fa fa-font"></i> 单个用户的统计</a></li>
                <li><a href="/admincp/award"><i class="fa fa-desktop"></i> 中奖信息</a></li>
                <!--<li><a href="."><i class="fa fa-wrench"></i> Bootstrap Grid</a></li>-->
                <!--<li><a href="."><i class="fa fa-file"></i> Blank Page</a></li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i>-->
                        <!--Dropdown <b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">Dropdown Item</a></li>-->
                        <!--<li><a href="#">Another Item</a></li>-->
                        <!--<li><a href="#">Third Item</a></li>-->
                        <!--<li><a href="#">Last Item</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right navbar-user">
                <!--<li class="dropdown messages-dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages-->
                        <!--<span class="badge">7</span> <b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li class="dropdown-header">7 New Messages</li>-->
                        <!--<li class="message-preview">-->
                            <!--<a href="#">-->
                                <!--<span class="avatar"><img src="http://placehold.it/50x50"></span>-->
                                <!--<span class="name">John Smith:</span>-->
                                <!--<span class="message">Hey there, I wanted to ask you something...</span>-->
                                <!--<span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li class="message-preview">-->
                            <!--<a href="#">-->
                                <!--<span class="avatar"><img src="http://placehold.it/50x50"></span>-->
                                <!--<span class="name">John Smith:</span>-->
                                <!--<span class="message">Hey there, I wanted to ask you something...</span>-->
                                <!--<span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li class="message-preview">-->
                            <!--<a href="#">-->
                                <!--<span class="avatar"><img src="http://placehold.it/50x50"></span>-->
                                <!--<span class="name">John Smith:</span>-->
                                <!--<span class="message">Hey there, I wanted to ask you something...</span>-->
                                <!--<span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">View Inbox <span class="badge">7</span></a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown alerts-dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> Alerts <span-->
                            <!--class="badge">3</span> <b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">Default <span class="label label-default">Default</span></a></li>-->
                        <!--<li><a href="#">Primary <span class="label label-primary">Primary</span></a></li>-->
                        <!--<li><a href="#">Success <span class="label label-success">Success</span></a></li>-->
                        <!--<li><a href="#">Info <span class="label label-info">Info</span></a></li>-->
                        <!--<li><a href="#">Warning <span class="label label-warning">Warning</span></a></li>-->
                        <!--<li><a href="#">Danger <span class="label label-danger">Danger</span></a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">View All</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li class="dropdown user-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Administrator &nbsp;</a>
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#"><i class="fa fa-user"></i> Profile</a></li>-->
                        <!--<li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>-->
                        <!--<li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>-->
                    <!--</ul>-->
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <!-- 正文 -->
    <view/>

</div>
<!-- /#wrapper -->


</body>
</html>
