<div class="col-lg-4" style="margin-top: 20px;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-money"></i> 每张图片被配对的次数</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped tablesorter">
                    <thead>
                    <tr>
                        <td>图片</td>
                        <td>次数</td>
                    </tr>
                    </thead>
                    <tbody>
                    <% infoData.forEach(function(item){%>
                    <tr>
                        <td><img src="<%= item._id%>" style="width: 150px;height: 150px;"></td>
                        <td><%= item.count%></td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
