<div class="col-lg-4" style="margin-top: 20px;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-money"></i> 按照分赞取前十条数据</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped tablesorter">
                    <thead>
                    <tr>
                        <td>编号</td>
                        <td>赞</td>
                    </tr>
                    </thead>
                    <tbody>
                    <% infoData_chan.forEach(function(item){%>
                    <tr>
                        <td><%= item._id%></td>
                        <td><%= item.count%></td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-money"></i> 按照分享到微信取前十条数据</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped tablesorter">
                    <thead>
                    <tr>
                        <td>编号</td>
                        <td>分享到微信</td>
                    </tr>
                    </thead>
                    <tbody>
                    <% infoData_share_wx.forEach(function(item){%>
                    <tr>
                        <td><%= item._id%></td>
                        <td><%= item.count%></td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-money"></i> 按照分享到新浪微博取前十条数据</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped tablesorter">
                    <thead>
                    <tr>
                        <td>编号</td>
                        <td>分享到新浪微博</td>
                    </tr>
                    </thead>
                    <tbody>
                    <% infoData_sina.forEach(function(item){%>
                    <tr>
                        <td><%= item._id%></td>
                        <td><%= item.count%></td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="col-lg-4" style="margin-top: 20px;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-money"></i> 按照分享到腾讯微博取前十条数据</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped tablesorter">
                    <thead>
                    <tr>
                        <td>编号</td>
                        <td>分享到腾讯微博</td>
                    </tr>
                    </thead>
                    <tbody>
                    <% infoData_tenct.forEach(function(item){%>
                    <tr>
                        <td><%= item._id%></td>
                        <td><%= item.count%></td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-money"></i> 按照分享到QQ空间取前十条数据</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped tablesorter">
                    <thead>
                    <tr>
                        <td>编号</td>
                        <td>分享到QQ空间</td>
                    </tr>
                    </thead>
                    <tbody>
                    <% infoData_tenct_QQ.forEach(function(item){%>
                    <tr>
                        <td><%= item._id%></td>
                        <td><%= item.count%></td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-money"></i> 按照分享到豆瓣取前十条数据</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped tablesorter">
                    <thead>
                    <tr>
                        <td>编号</td>
                        <td>分享到豆瓣</td>
                    </tr>
                    </thead>
                    <tbody>
                    <% infoData_douban.forEach(function(item){%>
                    <tr>
                        <td><%= item._id%></td>
                        <td><%= item.count%></td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>