<div class="col-lg-4" style="margin-top: 20px;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-money"></i> 1、每个用户主动发起的次数</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped tablesorter">
                    <thead>
                    <tr>
                        <td>用户编号</td>
                        <td>用户姓名</td>
                        <td>次数</td>
                    </tr>
                    </thead>
                    <tbody>
                    <% data_sort_1.forEach(function(item){%>
                    <tr>
                        <td><%= item._id%></td>
                        <td><%= item.userName%></td>
                        <td><%= item.count%></td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-money"></i> 2、每个用户被配对的次数</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped tablesorter">
                    <thead>
                    <tr>
                        <td>用户编号</td>
                        <td>用户姓名</td>
                        <td>次数</td>
                    </tr>
                    </thead>
                    <tbody>
                    <% data_sort_2.forEach(function(item){%>
                    <tr>
                        <td><%= item._id%></td>
                        <td><%= item.userName%></td>
                        <td><%= item.count%></td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-money"></i> 3、每个用户去配对别人的次数</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped tablesorter">
                    <thead>
                    <tr>
                        <td>用户编号</td>
                        <td>用户姓名</td>
                        <td>次数</td>
                    </tr>
                    </thead>
                    <tbody>
                    <% data_sort_3.forEach(function(item){%>
                    <tr>
                        <td><%= item._id%></td>
                        <td><%= item.userName%></td>
                        <td><%= item.count%></td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
