<div class="col-lg-4" style="margin-top: 20px; width: 80%">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-money"></i> 总数据</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped tablesorter">
                    <tr>
                        <td><strong>1:&nbsp;&nbsp;</strong><%= data_1.number%>人、<%= data_1.count%>次, 主动发起单图</td>
                    </tr>
                    <tr>
                        <td><strong>2:&nbsp;&nbsp;</strong><%= data_2.number%>人、<%= data_2.count%>次, 对单图做了配对</td>
                    </tr>
                    <tr>
                        <td><strong>3:&nbsp;&nbsp;</strong><%= data_3.number%>人、<%= data_3.count%>次,  对已配对的图又做了配对</td>
                    </tr>
                    <tr>
                        <td><strong>4:&nbsp;&nbsp;</strong>所有作品（不管配对或未配对）共分享
                            微信<strong><%= data_4.share_wx%></strong>次、
                            腾讯微博<strong><%= data_4.tenct%></strong>次、
                            新浪微博<strong><%= data_4.sina%></strong>次、
                            QQ空间<strong><%= data_4.tenct_QQ%></strong>次、
                            豆瓣<strong><%= data_4.douban%></strong>次，
                            赞<strong><%= data_4.chan%></strong>次</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

